.slider {
    position: relative;
}

.slider .previous{
    top: 50%;
    left: 9%;
}

.slider .next{
    top: 50%;
    right: 9%;
}

.slider button{
    position: absolute;
    background-color: unset;
    outline: none;
    border: none;
}

.slider img{
    width: 100%;
    height: auto;
}

.dots {
    position: absolute;
    bottom: 1%;
    left: 50%;
    right: 0;
    
}

.dot {
    height: 8px;
    width: 8px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.6s ease;
    border: 1px solid #FAA500;
}

.dot.active {
    background-color: #FAA500;
}
