.slider {
    position: relative;
}

.slider .previous{
    top: 50%;
    left: 0;
}

.slider .next{
    top: 50%;
    right: 0;
}

.slider button{
    position: absolute;
}

.slider img{
    width: 100%;
    height: auto;
}